<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="bookapp">

<head>
    <title>BFH BookApp Vert.X</title>

    <script type="text/javascript" src="resources/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/angular-ui.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/sockjs.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/vertxbus.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/jquery.bootstrap-growl.min.js"></script>
    
    <script type="text/javascript" src="resources/js/application.js"></script>
    <script type="text/javascript" src="resources/js/controllers.js"></script>
    <script type="text/javascript" src="resources/js/services.js"></script>
    <script type="text/javascript" src="resources/js/directives.js"></script>

    <link rel="stylesheet" type="text/css" href="resources/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/angular-ui.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavController">
	<div class="navbar-inner">
    	<div class="container">
        	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           		<span class="icon-bar"></span>
         	</button>
         	<a class="brand" href="#">BookApp</a>
         	<div class="nav-collapse collapse">
           		<ul class="nav">
             		<li ng-class="{active: route.current.activeMenu == 'books'}"><a href="http://localhost:8080/#/books">Books</a></li>
             		<li ng-class="{active: route.current.activeMenu == 'authors'}"><a href="http://localhost:8080/#/authors">Authors</a></li>
           		</ul>
                <ul class="nav pull-right">
                    <li><p><button class="btn btn-inverse" ng-click="clean()">Clean</button></p></li>
                    <li><p><button class="btn btn-inverse" ng-click="rebuild()">Rebuild</button></p></li>
                    <li><p style="width: 30px;"></p></li>
                    <li><p><div class="badge {{ connectionStateClass }}">{{ connectionState }}</div></p></li>
                </ul>
         	</div><!--/.nav-collapse -->
     	</div>
   	</div>
</div>

<div class="container">

<div class="hero-unit">
	<div class="row">
        <div class="span2">
        	<img src="resources/img/books.png" class="img-rounded">
        </div>
        <div class="span8">
        	<h1>BookApp</h1>
        	<p>This is the BFH BookApp example website.</p>
    	</div>
	</div>
</div>

<div ng-view></div>
</div>
</body>
</html>
